@import url('https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,300;0,400;1,500;1,600;1,700&family=Montserrat:ital,wght@0,100;0,200;0,300;0,700;0,800;1,100;1,200;1,300;1,400;1,700;1,800&family=Roboto:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,500&family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --color-primary: #fff;
    --color-secondary: #858585;

    --color-nav-main: #F7F7F7;

    --color-button-1: #184383;
    --color-button-add: #02A5A5;
    --color-waring: #E84A4D;
    --color-success: #28C794;
    --color-border: #D6D6D6;
    --color-search: #ADADAD;

    --color-font-text: #000;

    --font-size-text: 16px;

    --box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.25);

}

body {
    font-family: 'Work Sans', sans-serif;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.system__container {
    display: grid;
    grid-template-columns: 20% 80%;  
    max-width: 97%;
    max-height: 95%;
    width: 97%;
    height: 95%;
    overflow: hidden;
    /* outline: 1px solid #E84A4D; */
}

/* NavBar */

.nav__container{
    display: flex;
    flex-direction: column;
    margin: 1em;
    /* outline: 1px solid #E84A4D; */
    padding-top: 1em;
    /* background: var(--color-nav-main); */
}

.image__container{
    display: grid;
    place-items: center;
    width: 60%;
    margin: 0 auto;
    
}
.logo{
    width: 100%;
}

.nav__items {
    margin: 1em;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.nav__item{
    display: flex;
    gap: 1em;
    align-items: center;
    font-size: .7em;
    padding: 0 1em 0 1em;
}


.nav__item--active{
    background: var(--color-button-1);
    color: var(--color-primary);
    box-shadow: var(--box-shadow);
    border-radius: .5em;
}


/* Main */

  .caja__add {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .title_cuota{
    display: flex;
    align-items: center;
    gap: 2em;
    
  }

  .caja__add_button_Guardar {
    display: flex;
    align-items: center;
    gap: 1em;
    background: var(--color-button-add);
    padding: 0.5em 0.8em;
    color: var(--color-primary);
    border-radius: .5em;
    transition-duration: 0ms;
    cursor: pointer;
  }

  .caja__add_button_Guardar:hover{
    background-color: #F7F7F7;
    color: var(--color-button-add); 

  }

.caja_cuota{
  display: flex;
  width: 100%;

}

.caja_estadoCuota{
  display: flex;
  width: 100%;
  font-family: ;
}

  .caja__cliente{
    display: flex;
    flex-direction: column;
    width: 100%;

  }
  .caja_add_button_buscarcliente{
    display: flex;
    align-items: center;
    background: var(--color-button-add);
    color: var(--color-primary);
    border-radius: .5em;
    gap: 1em;
    font-size: 1em;
    width: 11em;
    height: 2.5em;
    margin: 14px;
    transition-duration: 0ms;
    cursor: pointer;
  }


  .title_cliente{
    font-size: 12px;
    color: var(--color-font-text);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .caja_button{
    display: grid;
    grid-template-columns: 70% 30%; 
    align-items: center;
  }


  .caja_add_button_buscarcliente:hover{
    background-color: #F7F7F7;
    color: var(--color-button-add);
  }

  .search{
    display: flex;
    align-items: center;
    justify-content: center ;
    font-size: .8rem;
    gap: 1em;
    background: var(--color-button-add);
    color: var(--color-primary);
    border-radius: .5em;
    padding: 0 1em;
    cursor: pointer;
  }
  .search:hover {
    background-color: #F7F7F7;
    transition: all ease-in-out 300ms;
    color: var(--color-button-add);
  }

  .search{
    color: var(--color-primary);
  }

  .search__client{
    font-size: 1em;
    padding: 0.21em 0.4em;

  }



  .title_buscarcuota{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    font-size: 12px;
  }



  .caja__boleta{
    font-size: 12px;
    display:flex;
    gap:30px;
  }

  .option_cuota{
    border-radius: .5em;
    padding: 1em;
  }

  .title_boleta{
    align-items: 15px;
  }

  .input{
    font-size: 12px;
    border-radius: .5em;
    padding: 1em;
    margin:10px;
    border: 1px solid var(--color-border);
    outline: none;
  }
  
  .container{
    font-size: 12px;
    border-radius: .5em;
    padding:1em;
    margin: 15px;
    border: 1px solid var(--color-border);
    outline: none;
    margin-left: 10px;
    }

  
  .caption{
    margin-left: 2.3em;
  }
  
  .boton{
    width: 13em;
    
    
  }
